@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #fff url("./img/default-bg.jpg") scroll 0 0 no-repeat;
  background-size: cover;
}
a {
  text-decoration: underline;
  color: rgb(34, 211, 238);
}
a:hover {
  text-decoration: none;
}
.alert {
  position: fixed;
  padding: 10px;
  top: 0;
  right: 0;
  background: #fff;
}

.post-card_cover {
  background: #d4d4d4;
}

.post-card_title {
  font-size: 2rem;
  color: rgb(34, 211, 238);
  font-weight: 700;
  margin-bottom: 0.5rem;
}
