@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #fff url("./img/default-bg.jpg") scroll 0 0 no-repeat;
  background-size: cover;
}

.alert {
  position: fixed;
  padding: 10px;
  top: 0;
  right: 0;
  background: #fff;
}
