.navBar li {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  border: 2px solid transparent;
}
.navBar a {
  color: #000;
  text-decoration: none;
  font-weight: 700;
}
.navBar .active {
  color: #001ec7;
}

.module-search {
  position: relative;
}
.module-search_input-container {
  position: absolute;
  z-index: 5;
  right: 100%;
  top: 0;
  max-width: 0;
  overflow: hidden;
}
.module-search.js--open .module-search_input-container {
  max-width: 500px;
}
.module-search_input {
  padding: 8px;
  border: 1px solid #000;
}
